@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar personalizada */
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #ca8a04; /* amarelo forte */
  border-radius: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #ca8a04 transparent;
}

/* Animações */
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-out both;
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out both;
}

.animate-fade-in {
  animation: fade-in 1.5s ease-out both;
}
